@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes glow {
    0% { box-shadow: 0 0 10px rgb(255, 95, 255); }
    50% { box-shadow: 0 0 30px rgb(38, 1, 38); }
    100% { box-shadow: 0 0 10px rgb(205, 52, 146); }
  }
  
  @keyframes pulse-gradient {
    0% { transform: scale(1); opacity: 0.8; }
    50% { transform: scale(1.2); opacity: 0.4; }
    100% { transform: scale(1); opacity: 0.8; }
  }

  @keyframes motion-graphic {
    0% {
      transform: translate(0, 0) scale(1);
    }
    25% {
      transform: translate(10px, -10px) scale(1.1);
    }
    50% {
      transform: translate(-10px, 10px) scale(1.2);
    }
    75% {
      transform: translate(10px, 10px) scale(1.1);
    }
    100% {
      transform: translate(0, 0) scale(1);
    }
  }
  
  .animate-glow {
    animation: glow 1.5s infinite alternate;
  }
  
  .animate-pulse-gradient {
    animation: pulse-gradient 2s infinite ease-in-out;
  }

.motion-graphic {
  animation: motion-graphic 3s infinite ease-in-out;
}
.glass-blur {
  width: 150px;
  height: 150px;
  background: rgba(101, 9, 230, 0.1);
  border-radius: 50%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: absolute;
}
